<div class="container-fluid">

	<div class="row top-bar">
		<div class="col-xs-4 col-sm-2 col-md-1 logo"></div>
		<div class="col-xs-8 col-sm-10 col-md-11">
			<h1 class="name">{{report.campaign.name}}</h1>
			<h2>BG: {{report.campaign.businessgroup}}</h2>
			<h2>Region: {{report.campaign.region}}</h2>
			<h3>Time period: {{report.start}} - {{report.stop}}</h3>
			<h3>Created on: {{report.created}}</h3>
		</div>
	</div>

	<div class="row seperator">
		<p>Executive Summary</p>
	</div>


	<div class="row">
		<div class="col-sm-offset-1 col-sm-5 col-md-3">
			<table class="table table-condensed table-hover">
				<thead>
					<tr>
						<th>Absolute Numbers</th>
						<th class="text-center">#</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Total Delivered</td>
						<td class="text-center">{{report.summary.delivered}}</td>
					</tr>
					<tr>
						<td>Total Opens</td>
						<td class="text-center">{{report.summary.opened}}</td>
					</tr>
					<tr>
						<td>Unique Opens</td>
						<td class="text-center">{{report.summary.u_opened}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-offset-1 col-sm-6 col-md-5">
			<table class="table table-condensed table-hover">
				<thead>
					<tr>
						<th>KPI's</th>
						<th class="text-center">%</th>
						<th class="text-center">Philips HC B2B Benchmark</th>
						<th class="text-center">Performance to Benchmark</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Unique Open Rate</td>
						<td class="text-center">{{report.summary.uor | percent:'1.2-2'}}</td>
						<td class="text-center">{{report.benchmark.uor | percent:'1.2-2'}}</td>
						<td class="text-center">{{getPercentToBenchmark('uor') | percent:'1.2-2'}}</td>
					</tr>
					<tr>
						<td>Clickthrough Rate</td>
						<td class="text-center">{{report.summary.ctr | percent:'1.2-2'}}</td>
						<td class="text-center">{{report.benchmark.ctr | percent:'1.2-2'}}</td>
						<td class="text-center">{{getPercentToBenchmark('ctr') | percent:'1.2-2'}}</td>
					</tr>
					<tr>
						<td>Unique Clickthrough Rate</td>
						<td class="text-center">{{report.summary.uctr | percent:'1.2-2'}}</td>
						<td class="text-center">{{report.benchmark.uctr | percent:'1.2-2'}}</td>
						<td class="text-center">{{getPercentToBenchmark('uctr') | percent:'1.2-2'}}</td>
					</tr>
					<tr>
						<td>Click-to-Open Rate</td>
						<td class="text-center">{{report.summary.ctor | percent:'1.2-2'}}</td>
						<td class="text-center">{{report.benchmark.ctor | percent:'1.2-2'}}</td>
						<td class="text-center">{{getPercentToBenchmark('ctor') | percent:'1.2-2'}}</td>
					</tr>
					<tr>
						<td>Unique Form Conversion</td>
						<td class="text-center">{{report.summary.ufcr | percent:'1.2-2'}}</td>
						<td class="text-center">{{report.benchmark.ufcr | percent:'1.2-2'}}</td>
						<td class="text-center">{{getPercentToBenchmark('ufcr') | percent:'1.2-2'}}</td>
					</tr>
					<tr>
						<td>Hard Bounceback Rate</td>
						<td class="text-center">{{report.summary.hbr | percent:'1.2-2'}}</td>
						<td class="text-center">{{report.benchmark.hbr | percent:'1.2-2'}}</td>
						<td class="text-center">{{getPercentToBenchmark('hbr') | percent:'1.2-2'}}</td>
					</tr>
					<tr>
						<td>Unsubscribe Rate</td>
						<td class="text-center">{{report.summary.ur | percent:'1.2-2'}}</td>
						<td class="text-center">{{report.benchmark.ur | percent:'1.2-2'}}</td>
						<td class="text-center">{{getPercentToBenchmark('ur') | percent:'1.2-2'}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<div class="row" *ngFor="let em of campaign.emails">
		<div class="col-xs-6 col-sm-offset-2 col-md-offset-1">
			<div *ngIf="em.litmus; else noLitmus">
				<strong>{{em.name}}</strong>:
				<a href="{{em.litmus}}">Click here to see Litmus stats</a>
			</div>
			<ng-template #noLitmus>
				<strong>{{em.name}}</strong>: Litmus not enabled for this email.
			</ng-template>
		</div>
	</div>

	<div class="row seperator">
		<p>Email Overview -
			<a id="modal-339340" href="#modal-container-339340" role="button" data-toggle="modal">
				Click here to see the metric definitions!
			</a>
		</p>
	</div>

	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<table class="table table-striped table-hover table-condensed">
					<thead>
						<tr>
							<th>Metrics</th>
							<th *ngFor="let em of campaign.emails">{{em.name}}</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Total Sends</td>
							<th *ngFor="let em of campaign.emails">{{em.sends}}</th>
						</tr>
						<tr>
							<td>Total Delivered</td>
							<th *ngFor="let em of campaign.emails">{{em.delivers}}</th>
						</tr>
						<tr>
							<td>Total Opens</td>
							<th *ngFor="let em of campaign.emails">{{em.opens}}</th>
						</tr>
						<tr>
							<td>Unique Open Rate</td>
							<th *ngFor="let em of campaign.emails">{{em.getRate('uor')}}</th>
						</tr>
						<tr>
							<td>Total Clickthroughs*</td>
							<th *ngFor="let em of campaign.emails">{{em.clicks}}</th>
						</tr>
						<tr>
							<td>Unique Clickthroughs</td>
							<th *ngFor="let em of campaign.emails">{{em.u_clicks}}</th>
						</tr>
						<tr>
							<td>Unique Clickthrough Rate</td>
							<th *ngFor="let em of campaign.emails">{{em.getRate('uctr')}}</th>
						</tr>
						<tr>
							<td>Click to Open Rate</td>
							<th *ngFor="let em of campaign.emails">{{em.getRate('ctor')}}</th>
						</tr>
						<tr>
							<td>Unique Open Rate</td>
							<th *ngFor="let em of campaign.emails">{{em.getRate('uor')}}</th>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-md-6">
				<div class="media">
					<a href="#" class="pull-left">
						<img alt="Bootstrap Media Preview" src="http://lorempixel.com/64/64/" class="media-object" />
					</a>
					<div class="media-body">
						<h4 class="media-heading">
							Nested media heading
						</h4> Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="modal-container-339340" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">

					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						×
					</button>
					<h4 class="modal-title" id="myModalLabel">
						Metric Definitions
					</h4>
				</div>
				<div class="modal-body">
					<table>
						<tbody>
							<tr>
								<td>Email</td>
								<td>Definition</td>

							</tr>
							<tr>
								<td>Total Sends</td>
								<td>The number of emails that were sent</td>

							</tr>
							<tr>
								<td>Total Delivered</td>
								<td>Emails sent - Hard Bouncebacks - Soft Bouncebacks</td>

							</tr>
							<tr>
								<td>Total Opens</td>
								<td># of times the email was open</td>

							</tr>
							<tr>
								<td>Unique Opens</td>
								<td># of contacts that opened the email</td>

							</tr>
							<tr>
								<td>Unique Open Rate</td>
								<td>Unique Opens / Total Emails Delivered</td>

							</tr>
							<tr>
								<td>Total Click Throughs</td>
								<td># of times tracked links in the email were clicked</td>

							</tr>
							<tr>
								<td>Unique Click Throughs</td>
								<td># of contacts that clicked on tracked links in the email were clicked</td>

							</tr>
							<tr>
								<td>Unique Click Through Rate</td>
								<td># of Unique Click-throughs / Total Emails delivered</td>

							</tr>
							<tr>
								<td>Click To Open Rate</td>
								<td>Unique Click Throughs / Unique Opens</td>

							</tr>
							<tr>
								<td>Existing Visitor Click Through</td>
								<td>Click-throughs by contacts who were already visitors in Eloqua</td>

							</tr>
							<tr>
								<td>New Visitor Click Throughs</td>
								<td>Click-throughs by contacts who are created as new visitors in Eloqua</td>

							</tr>
							<tr>
								<td>Total Form Submissions</td>
								<td># of form submissions that can be attributed back to the email sent</td>

							</tr>
							<tr>
								<td>Unique Form Submission</td>
								<td># of contacts that submitted forms that can be attributed back to the email sent</td>

							</tr>
							<tr>
								<td>Unique Form Conversion Rate from Email</td>
								<td># of unique form submissions / Total Emails delivered</td>

							</tr>
							<tr>
								<td>Possible Email Forwards</td>
								<td># of emails that were possibly forwarded by the recipients</td>

							</tr>
							<tr>
								<td>Possible Forwarders</td>
								<td># of recipients that possibly forwarded the email</td>

							</tr>
							<tr>
								<td>Possible Forward Rate</td>
								<td>Possible forwarders / Total Emails delivered</td>

							</tr>
							<tr>
								<td>Total Bouncebacks</td>
								<td>The number of emails that were recorded as bounce (soft or hard)</td>

							</tr>
							<tr>
								<td>Bounceback Rate</td>
								<td># of total bouncebacks / Total Sends</td>

							</tr>
							<tr>
								<td>Total Hard Bouncebacks</td>
								<td>The number of emails that were recorded as hard bounce</td>

							</tr>
							<tr>
								<td>Hard Bounceback Rate</td>
								<td># of total hard bouncebacks / Total Sends</td>

							</tr>
							<tr>
								<td>Total Soft Bouncebacks</td>
								<td>The number of emails that were recorded as soft bounce</td>

							</tr>
							<tr>
								<td>Soft Bounceback Rate</td>
								<td># of total soft bouncebacks / Total Sends</td>

							</tr>
							<tr>
								<td>Total Unsubscribes</td>
								<td>Contacts that unsubscribed from this email</td>

							</tr>
							<tr>
								<td>Unsubscribe Rate</td>
								<td># of Total Unsubscribes / Total Sends</td>

							</tr>
							<tr>
								<td>Page Performance</td>


							</tr>
							<tr>
								<td>Page View</td>
								<td>The number of times a web page was viewed. A page view is counted on every page load (this includes reloads and back buttons). One visit contains one or more page views.</td>

							</tr>
							<tr>
								<td>Landing by Email Campaign*</td>
								<td>Click-throughs represent the number of times that a tracking code for a given campaign was passed into reporting</td>

							</tr>
							<tr>
								<td>Total Visitors</td>
								<td>The number of unique people that access your site within a given time period (e.g. day, week or month).</td>

							</tr>
							<tr>
								<td>Total Visits</td>
								<td>Any number of Page Views in one “session.” A visit begins when a person first views a page and ends after 30 minutes of inactivity (Web analytics general industry standard). One unique visitor could make multiple visits during a given time period.</td>

							</tr>
							<tr>
								<td>Visits from Email Campaign</td>
								<td># of visits from an email campaign within a given time period. When a visitor clicked on an email link that has been tagged with an external tracking code, system will recognize this visitor during 30 days if cookies are not disabled or deleted in the meantime.</td>
							</tr>
							<tr>
								<td>Visitors from email Campaign</td>
								<td># of visitors from an email campaign within a given time period</td>

							</tr>
							<tr>
								<td>Bounce Rate (overall)</td>
								<td>A bounce is counted when a visit consists of one page-view, meaning that the entry page and exit page are the same page. The bounce rate is bounces divided by entries.</td>

							</tr>
							<tr>
								<td>Bounce Rate (from email)</td>
								<td>A bounce is counted when a visit consists of one page-view, meaning that the entry page and exit page are the same page. The bounce rate (from email) is bounces divided by entries only for email campaign.</td>

							</tr>
							<tr>
								<td>Unique Form Submissions</td>
								<td># of contacts that submitted forms independent than email campaign</td>

							</tr>
							<tr>
								<td>Unique Form Conversion Rate (overall)</td>
								<td># of Unique Form Submissions / Total Visitors</td>

							</tr>
							<tr>
								<td>Email Campaign Contribution Rate</td>
								<td># of Visits from email campaign/# of Total visits</td>

							</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">
						Close
					</button>
				</div>
			</div>

		</div>

	</div>

</div>
<!-- /.container -->
